/** banner hero */
section#hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
}
section#hero .greeting h1 {
  font-size: 6rem;
}
section#hero .scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 10px;
}
section#hero .scroll h1 {
  margin-bottom: 1rem;
}

/** banner content */
section#content {
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
section#content .content {
  margin: 5rem;
  transition: 0.3s;
}
section#content .content:hover {
  scale: 0.9;
}
section#content .content a {
  height: 12rem;
  width: 12rem;
  color: black;
  text-decoration: none;
  text-align: center;
  display: flex;
  flex-direction: column;
}
section#content .content a .img img {
  height: 10rem;
  width: 10rem;
}
section#content .content p {
  font-size: 1.5rem;
  margin-top: 1rem;
}

/** comonent */
.layer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

/*? Tablet view  */
@media screen and (min-width: 576px) and (max-width: 992px) {
  /** banner hero  */
  section#hero .greeting h1 {
    font-size: 4rem;
    text-align: center;
  }
}

/*? Mobile view  */
@media screen and (max-width: 576px) {
  /** banner hero  */
  section#hero .greeting h1 {
    font-size: 2rem;
    text-align: center;
  }
  section#hero .scroll {
    font-size: 0.8rem;
  }
}
