@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* font-family: "Roboto", sans-serif; */
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../img/bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden;
  /* scroll-behavior: smooth; */
}

/** navbar */
nav {
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: rgb(255, 255, 255);
}
nav .logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}
nav .logo p {
  font-size: 1.3rem;
}
nav .logo .img img {
  width: 6rem;
}
nav .burger {
  margin-right: 5%;
}
nav .burger #burger {
  background-color: #fff;
  border: none;
  scale: 1.8;
  cursor: pointer;
}

section#nav .menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  right: 0;
  z-index: 101;
  height: 100vh;
  width: 30vw;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.5s;
  padding-top: 2rem;
}
section#nav .menu .close {
  margin-right: 4rem;
}
section#nav .menu ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  margin-top: 5rem;
}
section#nav .menu ul li {
  list-style: none;
  width: 100%;
  height: 4rem;
}
section#nav .menu ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  height: 100%;
  width: 100%;
  padding-left: 1rem;
  font-size: 1.5rem;
  transition: 0.3s;
}
section#nav .menu ul li a:hover {
  scale: 0.9;
  border-radius: 10px;
  background-color: #c1c0c0;
}
section#nav .menu #close {
  scale: 1.5;
  background-color: #fff;
  border: none;
  cursor: pointer;
}
.hidden {
  transform: translatex(100%);
}

/** banner hero */
section#hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
}
section#hero .greeting h1 {
  font-size: 8rem;
}
section#hero .scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 10px;
}
section#hero .scroll h1 {
  margin-bottom: 1rem;
}

/** banner content */
section#content {
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
section#content .content {
  margin: 5rem;
  transition: 0.3s;
}
section#content .content:hover {
  scale: 0.9;
}
section#content .content a {
  color: black;
  text-decoration: none;
  text-align: center;
}
section#content .content a .img img {
  height: 12rem;
  width: 12rem;
}
section#content .content p {
  font-size: 1.5rem;
  margin-top: 1rem;
}

/** footer */
footer {
  min-height: 50vh;
  background-color: #b3adad;
}

/** comonent */
.layer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}
